<!doctype html>
<html lang="en">
  <%- include('../partials/head', { title: 'Data Subject' }) %>
  <body>
    <%- include('../partials/navbar') %>
    <br><br><br>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Subject Name</th>
                <th scope="col">Teachers</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(data => { %>
                <tr>
                  <td><%= data.id %></td>
                  <td><%= data.subject_name %></td>
                  <td>
                    <ol>
                      <% data.Teachers.forEach(teacher => { %>
                        <li><%= teacher.first_name + " " + teacher.last_name %></li>
                      <% }) %>
                    </ol>
                  </td>
                  <td>
                    <a href="/subject/edit/<%= data.id %>" class="btn btn-primary btn-sm">Edit</a>
                    <a href="/subject/delete/<%= data.id %>" class="btn btn-primary btn-sm">Delete</a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>

    <%- include('../partials/script') %>
  </body>
</html>