<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list-teachers</title>
</head>
<body>
    <div class="container">
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% teacher.forEach( (dataTeacher) => { %>
                    <tr>
                        <td><%= dataTeacher.id %></td>
                        <td><%= dataTeacher.first_name %></td>
                        <td><%= dataTeacher.last_name %></td>
                        <td><%= dataTeacher.email %></td>
                        <td><%= (dataTeacher.Subject !== null) ? dataTeacher.Subject.name : 'unassigned' %></td>
                        <td>
                            <a href="/pageUpdateTeacher/<%= dataTeacher.id %>" title="<%= dataTeacher.id %>"><button>EDIT</button></a>
                            <a href="/pageTeacher/<%= dataTeacher.id %>" title="<%= dataTeacher.id %>"><button>DELETE</button></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>