<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register Teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <%- include('../partials/header/nav.ejs', {title: 'Register Teacher', titleUrl: 'teachers/', subTitle: 'Data Teachers'}) %>
      <%  if(err) {  %>
        <!-- <h2 style="color: red"><%= //err.errors[0].message %></h2> -->
         <%  err.errors.forEach(elementErr => { %>
                <h2 style="color: red"><%= elementErr.message %></h2>
        <%    })  %>
      <%  } %>
    <form action="/teachers/add" method="post">
        First Name: <br>
        <input type="text" name="firstName" placeholder="first name"> <br>
        Last Name: <br>
        <input type="text" name="lastName" placeholder="last name"> <br>
        Email: <br>
        <input type="text" name="email" placeholder="example@mail.com"> <br>
        Subject Name: <br>
        <select name="SubjectId">
         <%   dataSubjects.forEach(subjectData => { %>
                <option value="<%= subjectData.id %>"><%= subjectData.subjectName %></option>
         <%   }) %>
        </select> <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>