<% include partials/header %>

<h1> Students Data </h1>
<p> <a href="/students/add">add student</a> </p>
<div>
    <table id="tabel"> 
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Options</th>
        </tr>
        <% for(let student of students){ %>
        <tr>
            <td><%= student.id %></td>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.email %></td>
            <td>
                <a href="/students/edit/<%= student.id%>">Edit</a>   || 
                <a href="/students/delete/<%= student.id%>" onclick="return confirm('Delete <%= student.first_name%> <%= student.last_name%> ?')">Delete</a>
            </td>
        </tr>
        <% } %>  
    </table>
</div>

<% include partials/footer %>