<%- include('./partials/head.ejs', {namePage: 'Student'}); %>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach(student => { %>
      <tr>
        <td><%= student.id%></td>
        <td><%= student.first_name%></td>
        <td><%= student.last_name%></td>
        <td><%= student.email%></td>
        <td><a href="/students/edit/<%=student.id%>">Edit</a></td>
        <td><a href="/students/delete/<%=student.id%>" onclick="return alert('Data deleted!')">Delete</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <br>
  </body>
</html>