<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>
        <%=header%>
    </h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Subject Name</th>
            <th>Teacher Name</th>
            <th>Options</th>
        </tr>
        <% let counter = 1%>
        <%for (let i = 0; i < data.length; i++) {%>
            <tr>
                <td>
                    <%= data[i].id%>
                </td>
                <td>
                    <%= data[i].subjectName%>
                </td>
                <td>
                    <% data[i].Teachers.forEach( x => { %>
                        <%=`${counter}.  ${x.firstName} ${x.lastName}`%> 
                        <% counter++%><br> 
                    <% } ) %> 
                </td>
                </td>
                <td>
                    <a href="/subject/<%= data[i].id%>" title="<%= data[i].id%>">
                        Delete
                    </a>
                    |
                    <a href="/updateSubject/<%= data[i].id%>" title="<%= data[i].id%>">
                        Update
                    </a>
                </td>
            </tr>
            <%}%>
    </table>
</body>

</html>