<!DOCTYPE html>
<html>
<head>
	<title>Data Teachers</title>
</head>
<body>

	<h2> All Teachers Data</h2>

	<table border="0" width="100%">
		<tr>
			<th>Id</th>
			<th>Fist Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Subject</th>
		</tr>

		<% teachers.forEach( (teacher) => { %>

		<tr>
			<td><%= teacher.id %></td>
			<td><%= teacher.firstName %></td>
			<td><%= teacher.lastName %></td>
			<td><%= teacher.email %></td>
			<td>
				<%= teacher.Subject != null ? teacher.Subject.name : "unassigned" %>
				
			</td>
		</tr>

		<% }) %>
	
	</table>

</body>
</html>