<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head') %>
    <title>Edit Student</title>
</head>

<body>
    <%- include('../partials/nav') %>

    <section style="padding-top: 80px">
        <div class="container">
            <div class="row" style="padding: 15px">
                <h2>Edit student</h2>
            </div>
            <div class="row" style="padding: 15px">
                <form action="/students/edit/<%=student.id%>" method="POST">
                    <div class="form-group">
                        <label for="first_name">First name</label>
                        <input id="first_name" name="first_name" value="<%=student.first_name%>" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last name</label>
                        <input id="last_name" name="last_name" value="<%=student.last_name%>" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input id="email" name="email" type="text" value="<%=student.email%>" class="form-control">
                    </div>
                    <a href="/students" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Edit" role="button" class="btn btn-success">
                </form>
            </div>
            <%- include('../partials/validation')%>
        </div>
    </section>

    <%- include('../partials/scripts') %>
</body>

</html>