<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Students</title>
</head>
<body>
    <%- include('../partials/nav') %>

    <section style="padding-top: 80px">
        <div class="container">
            <div class="row" style="padding: 15px">
                <h2>Students</h2>
            </div>
            <div class="row" style="padding: 15px">
                <a href="/students/add" class="btn btn-primary" role="button">Add Student</a>
            </div>
            <div class="row" style="padding: 15px">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(student of students) {%>
                            <tr>
                                <td>
                                    <%=student.id%>
                                </td>
                                <td>
                                    <%=student.first_name%>
                                </td>
                                <td>
                                    <%=student.last_name%>
                                </td>
                                <td>
                                    <%=student.email%>
                                </td>
                                <td>
                                    <a href="/students/edit/<%=student.id%>" role="button" class="btn btn-success" >Edit</a>
                                    <a href="/students/delete/<%=student.id%>" role="button" class="btn btn-danger" >Delete</a>
                                </td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <%- include('../partials/scripts') %>
</body>

</html>