<!DOCTYPE html>
<html>
<head>
<title>Subjects</title>
</head>
<body>
  <h1>List of Subjects</h1>
  <p><a href ="/subject/add">add subject</a></p>
  <div class="subject_table">
    <table border="1">
      <thead>
        <tr>
          <th>Id</th>
          <th>Subject</th>
          <th>Teacher</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <% subjectData.forEach(subject => { %>
          <tr>
            <td><%= subject.id %></td>
            <td><%= subject.subjectName %></td>
            <td>
              <ol>
                  <% let arrTeachers = [] %>
                  <% for(let i=0; i < subject.Teachers.length; i++){ %>
                    <% for(let i=0; i < subject.Teachers.length; i++){ %>
                     <%arrTeachers.push(generateFullname(subject.Teachers[i].firstName, subject.Teachers[i].lastName))%>
                      <% if (arrTeachers.length === subject.Teachers.length) {%>
                        <% for(let x=0; x<arrTeachers.length; x++){ %>
                          <li> <%= arrTeachers[x] %></li>
                        <% } %>
                      <%}%>
                    <%}%>
                  <%}%>
              </ol>
            </td>
            <td><a href = "/subject/edit/<%=subject.id%>">edit</a> || <a href="/subject/delete/<%=subject.id%>" onclick = "return confirm('delete this subject?')"> delete</a> </td>
          </tr>
        <% })%>
      </tbody>
    </table>
  </div>
<p><a href ="/">home</a></p>
</body>
</html>