<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1> Edit Teacher Form</h1>
    <%if(err !== null){%>
        <h2><%= err.message %></h2>
    <%}%>
    <form action="/teacher/edit/<%= dataTeacher.id %>" method="POST">
        First name:
        <br>
        <input type="text" name="fname"  placeholder="" value="<%= dataTeacher.firstName %>">
        <br> Last name:
        <br>
        <input type="text" name="lname" value="<%= dataTeacher.lastName %>">
        <br> Email:
        <br>
        <input type="text" name="email" value="<%= dataTeacher.email %>">
        <br> Subject:
        <select name="subjectId">
            <% dataSubject.forEach(function(subject){%>
                <option value="<%= subject.id %>">
                    <%= subject.subjectName%>
                </option>
                <%})%>
        </select>
        <br>
        <br>
        <input type="submit" value="Edit Teacher">

</body>

</html>