<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Table</title>
</head>

<body>
    <h1>
        <center>
            All Teachers Data
        </center>
    </h1>
    <h3>
        <center>
            <a href="/teacher/add">
                Add Teachers Data
            </a>
        </center>
    </h3>
    <%- include('../partials/styleTable') %>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <%dataTeacher.forEach(function(teacher){%>
                    <tr>
                        <td>
                            <%= teacher.id %>
                        </td>
                        <td>
                            <%= teacher.firstName %>
                        </td>
                        <td>
                            <%= teacher.lastName %>
                        </td>
                        <td>
                            <%= teacher.email %>
                        </td>
                        <td>
                            <% if(teacher.Subject === null){%>
                                unassigned
                                <%}else{%>
                                    <%= teacher.Subject.subjectName%>
                                        <%}%>
                        </td>
                        <td>
                            <!-- <tr> -->
                            <a href="/teacher/edit/<%= teacher.id%>">edit |</a>
                            <a href="/teacher/delete/<%= teacher.id%>">delete</a>
                            <!-- </tr> -->
                        </td>
                    </tr>
                    <%})%>
            </tbody>



        </table>

</body>

</html>