<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">All Teachers Data</h1>
    <a href="/teachers/add">
        <h3 class="text-center text-info">Add Teacher Data</h3>
    </a>
    <br>

    <div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <% data_teachers.forEach((teacher) => { %>
                <tr>
                    <td><%= teacher.id %></td>
                    <td><%= teacher.firstName %></td>
                    <td><%= teacher.lastName %></td>
                    <td><%= teacher.email %></td>
                    <% if (teacher.SubjectId === null){%>
                        <td> unassigned </td>
                    <% } else { %>
                        <td><%= teacher.Subject.subjectName %></td>
                    <%}%>
                    <td>
                        <a href="/teachers/<%=teacher.id %>/edit">Edit |</a>
                        <a href="/teachers/<%=teacher.id %>/delete" onclick="return confirm('Are you sure you want to delete this data?');">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<div class="container">
    <button type="button" class="btn btn-warning" onclick="location.href = '/' ">Back</button>
</div>
</body>
</html>