<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit Student</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/student-css/editStudent.css" />
  <script src="/public/script/editStudent.js"></script>

</head>

<body>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <form action="/teachers/edit/<%= teachers.id %>/" method="POST">
    <p>Edit Student,</p>
    <p>
      <label for="your-name">first name</label> is
      <input type="text" name="firstName" id="your-name" minlength="3" placeholder="<%= teachers.firstName %>" required> </p>

    <p>
      <label for="your-name">last name</label> is
      <input type="text" name="lastName" id="your-name" placeholder="<%= teachers.lastName %>" required>
    </p>

    <p>
      <label for="email">email address</label> is
      <input type="email" name="email" id="email" placeholder="<%= teachers.email %>" required>
    </p>
    <p>
      <label for="your-name">subject</label> is
      <select name="SubjectId">
        <% for(let i = 0; i<subject.length;i++){  %>
          <option value="<%= subject[i].id %>">
            <%= subject[i].subjectName %>
          </option>
          <% }%>
      </select>
      <br>
      <br>

      <button type="submit">
        <svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
          y="0px" width="100px" height="36px" viewBox="0 0 100 36" enable-background="new 0 0 100 36" xml:space="preserve">
          <path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3
            l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z" />
        </svg>
        <small>send</small>
      </button>
    </p>
  </form>

  <script src="/public/script/editStudent.js"></script>
</body>

</html>