<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Teachers Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <% if (error !== null) { %>
        <%= error %>
    <% } %>
    <br>
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Options</th>
            </tr>
            <% teachersData.forEach( teacher => { %>
                <tr>
                    <td>
                        <%= teacher.id %>
                    </td>
                    <td>
                        <%= teacher.firstName %>
                    </td>
                    <td>
                        <%= teacher.lastName %>
                    </td>
                    <td>
                        <%= teacher.email %>
                    </td>
                    <% if(teacher.SubjectId == null) { %>
                        <td>unassigned</td>
                        <% } else { %>
                            <td>
                                <%= teacher.Subject.subjectName %>
                            </td>
                            <% } %>
                                <td>
                                    <a href="/teachers/edit/<%= teacher.id %>">Edit</a> ||
                                    <a href="/teachers/delete/<%= teacher.id %>" onclick="return confirm('Are you sure you want to delete this teacher\'s data?')">Delete</a>
                                </td>
                </tr>
                <% }) %>
        </table>
    </div>
    </div>
    <br>
    <br>
    <div class="btn-group">
        <div align="center">
            <a href="/" class="btn btn-primary" role="button">Back to Home</a>
            </button>
            <a href="/teachers/add" class="btn btn-primary" role="button">Add Teacher</a>
            </button>
        </div>
    </div>
</body>

</html>