<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div class="alert alert-danger">
    <% if (error !== null) { %>
            <%= error %>
        </div>
      <%} %>
    <div>
        <form action="/teachers/edit/<%= editTeacher.id %>" method="POST">
            First Name:
            <br>
            <input type="text" name="firstName" value="<%= editTeacher.firstName %>">
            <br>
            <br> Last Name:
            <br>
            <input type="text" name="lastName" value="<%= editTeacher.lastName %>">
            <br>
            <br> Email:
            <br>
            <input type="text" name="email" value="<%= editTeacher.email %>">
            <br>
            <br> Subject:
            <br>
            <input type="integer" name="SubjectId" value="<%= editTeacher.SubjectId %>">
            <br>
            <br>
            <button type="submit" value="Confirm Edit">Confirm Edit</button>
        </form>
    </div>
    <br>
    <div align="left">
        <a href="/teachers" class="btn btn-primary" role="button">Back to Teachers List</a>
        <a href="/" class="btn btn-primary" role="button">Back to Homepage</a>
    </div>
</body>

</html>