<!DOCTYPE html>
<html>
<head>
<title>Teachers</title>
</head>
<body>
  <h1>Lecturers Staff</h1>
  <p><a href ="/teacher/add">add teacher</a></p>
  <div class="teacher_table">
    <table border="1">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <% teachersData.forEach(teacher => { %>
          <tr>
            <td><%= teacher.id %></td>
            <td><%= teacher.firstName %></td>
            <td><%= teacher.lastName %></td>
            <td><%= teacher.email %></td>
            <td><%= teacher.Subject.subjectName %></td>
            <td><a href = "/teacher/edit/<%=teacher.id%>">edit</a> || <a href="/teacher/delete/<%=teacher.id%>" onclick = "return confirm('delete this teacher?')"> delete</a> </td>
          </tr>
        <% })%>
      </tbody>
    </table>
  </div>
<p><a href ="/">home</a></p>
</body>
</html>